.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  margin: rem(40px) rem(100px);
  button {
    background-color: #fdbc11;
    width: 100%;
    border: none;
    outline: none;
    border-radius: rem(4px);
    height: rem(64px);
    color: #2b2b2b;
    font-size: rem(16px);
    cursor: pointer;
    position: relative;
    text-align: center;
    @include breakpoint(mobile) {
      width: calc(100vw - 24px);
    }
  }
  .form-group {
    position: relative;
    margin-bottom: rem(20px);
    .password-eye {
      position: absolute;
      right: rem(27px);
      bottom: rem(20px);
      cursor: pointer;
    }
    input {
      display: block;
      width: rem(412px);
      font-size: rem(16px);
      padding: rem(16px);
      padding-bottom: 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      height: rem(64px);
      &:focus {
        outline: none;
      }
      &:focus ~ label,
      &:valid ~ label {
        bottom: rem(35px);
        margin-left: 0px;
        font-size: rem(12px);
        color: #5264ae;
      }

      &:focus ~ .bar:before,
      &:focus ~ .bar:after {
        width: 50%;
      }

      @include breakpoint(mobile) {
        width: calc(100vw - 24px);
      }
      @include breakpoint(xxsmall) {
        width: calc(100vw - 10px);
      }
    }
    label {
      position: absolute;
      bottom: 18px;
      left: 16px;
      color: #999;
      font-size: 14pt;
      font-weight: normal;
      pointer-events: none;
      transition: all 0.2s ease;
    }
    .bar {
      display: block;
      position: relative;
      width: rem(320px);

      &:before {
        left: 50%;
      }

      &:after {
        right: 50%;
      }
    }
  }
}

.revert-slash {
  font-size: rem(20px);
  font-weight: 200;
  position: absolute;
  margin-left: 4px;
  color: #808080;
  margin-top: -2px;
}

.spinner {
  position: absolute;
  font-size: rem(24px);
  height: 0.8rem;
  width: 0.8rem;
  left: 50%;

  .spinner-blade {
    position: absolute;
    width: 0.054em;
    height: 0.13em;
    top: 50%;
    border-radius: 0.0555em;
    background-color: transparent;
    transform-origin: center -0.2222em;
    animation: spinner-fade 1s infinite linear;

    $animation-delay: 0s;
    $blade-rotation: 0deg;

    @for $i from 1 through 12 {
      &:nth-child(#{$i}) {
        animation-delay: $animation-delay;
        transform: rotate($blade-rotation);
        $blade-rotation: $blade-rotation + 30;
        $animation-delay: $animation-delay + 0.083;
      }
    }
  }
} // spinner

@keyframes spinner-fade {
  0% {
    background-color: #2b2b2b;
  }
  100% {
    background-color: transparent;
  }
}

.toast {
  position: absolute;
  top: 25px;
  right: 30px;
  border-radius: 12px;
  background: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active {
  transform: translateX(0%);
}

.toast .toast-content {
  display: flex;
  align-items: center;
}

.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  background-color: #dc0b35;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.message .text.text-1 {
  font-weight: 600;
  color: #333;
}

.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.toast .close:hover {
  opacity: 1;
}

.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
}

.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #dc0b35;
}

.progress.active:before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}
